---
import { Image } from "astro:assets";
interface Props {
  name: string;
  description: string;
  url: string;
  alt?: string;
  urlImage?: string;
}
const { name, description, url, alt, urlImage } = Astro.props;
---

<li>
  <a href={url} class="mt-2">
    <h4 class="mt-0">
      {name}
    </h4>
  </a>
  <p class="mt-1">
    {description}
  </p>
  {
    urlImage && alt && (
      <div>
        <Image
          src={urlImage}
          alt={alt}
          width={350}
          height={200}
          class="rounded-md mb-4"
        />
      </div>
    )
  }
</li>
