---
import { Image } from "astro:assets";
interface Props {
  name: string;
  description: string;
  url: string;
  alt?: string;
  urlImage?: string;
}
const { name, description, url, alt, urlImage } = Astro.props;
---

<li>
  <a href={url}>
    {name}
  </a>
  <p>
    {description}
  </p>
  {
    urlImage && alt && (
      <div>
        <Image
          src={urlImage}
          alt={alt}
          width={350}
          height={200}
          class="rounded-md"
        />
      </div>
    )
  }
</li>
